Source: ros-indigo-opencv2
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libavcodec-dev, libavformat-dev, libavutil-dev, libjasper-dev, libjpeg-dev, libpng12-dev, libqt4-dev, libqtgui4, libswscale-dev, libtiff5-dev, libv4l-dev, python-dev, python-numpy, python-support, zlib1g-dev
Homepage: http://opencvg.org
Standards-Version: 3.9.2

Package: ros-indigo-opencv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libavcodec-dev, libavformat-dev, libavutil-dev, libjasper-dev, libjpeg-dev, libpng12-dev, libqtgui4, libswscale-dev, python-dev, python-numpy, python-support, ros-indigo-catkin, zlib1g-dev
Description: Cutting edge releases from the opencv 2.4.x.y series.
